* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 19px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.affidavit_content {
    width: 100%;
    max-width: 600px; /* Adjusted max-width for better readability */
    height: auto;
    padding: 20px;
    text-align: center;
}

.head {
    font-size: 29px;
    font-weight: 700;
    margin: 10px auto;
}

.order_no {
    font-size: 19px;
    font-weight: 700;
    margin: 10px auto;
}

.affi_cont {
    text-align: justify;
    line-height: 1.6em;
    padding: 20px;
    font-size: 19px;
}

.footer_1, .footer_3 {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-top: 15px;
}

.date {
    width: 50%;
    text-align: left;
}

.sign {
    width: 50%;
    text-align: right;
}

.footer_2 {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    font-size: 19px;
}

.footer_3 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.mgr, .edn_off {
    width: 48%; /* Adjusted width for better spacing */
    font-size: 19px;
    margin: 15px;
}

span {
    font-weight: bold;
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
    }

    /* Additional styles for removing headers and footers */
    @page :first {
        margin-top: 0;
    }

    @page :left {
        margin-left: 0;
    }

    @page :right {
        margin-right: 0;
    }

    header, footer {
        display: none;
    }
}
