body {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
  }

  .form-ceap {
    width: 70%;
    height: auto;
    border-radius: 30px;
    margin: 10% auto;
    padding: 15px;
  }

  .mb-3 {
    display: flex;
    flex-direction: row;
  }

  .mb-3 label {
    width: 30%;
  }

  .mb-3 input {
    width: 70%;
  }

  .buttons {
    padding: 15px;
  }

  span {
    font-weight: bold;
  }

  @media print {
    @page {
      margin: 0;
    }
  
    body {
      margin: 1.6cm;
    }
  
    /* Additional styles for removing headers and footers */
    @page :first {
      margin-top: 0;
    }
  
    @page :left {
      margin-left: 0;
    }
  
    @page :right {
      margin-right: 0;
    }
  
    header, footer {
      display: none;
    }
  }
  